body {
    background-color: #ff5455;
}



.text {
    text-align: center;
    margin: 5vh;
    color: black;
}

.centered-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bubble-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #FFFFFF; /* Bootstrap primary color */
    color: #000; /* Text color */
    transition: transform 0.3s ease-in-out;
    height: 15vh;
}

/* Ids*/

#start {
    
}

#text {
    text-align: center;
    font-size: 100px;
    color: black;
    margin-top: 10vh;
}