body {
    background-color: #fe5454;
}

.center-containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.v-center {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}

.text {
    text-align: center;
    margin: 5vh;
    color: white;
}

.centered-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bubble-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #FFFFFF; /* Bootstrap primary color */
    color: #000; /* Text color */
    transition: transform 0.3s ease-in-out;
    height: 15vh;
}

.hide {
    display: none;
}

.white {
    color: white;
}

#clap {
    position: absolute;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #FFFFFF; /* Bootstrap primary color */
    color: #000; /* Text color */
    transition: transform 0.3s ease-in-out;
    height: 15vh;
}

#vid1 {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    z-index: -1;
    transform: translateX(-50%);
}

#haha {
    font-size: 80px;
}



#vid2 {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    z-index: -1;
    transform: translateX(-50%);
}

.animated-text {
    user-select: none;
    color: white;
    position: absolute;
    animation: fly 1s linear infinite;
    animation: spin 2s linear infinite; /* Spin animation */
}

@keyframes fly {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(100%, 0);
    }
    75% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Ids*/

#text {
    text-align: center;
    font-size: 100px;
    color: black;
    margin-top: 10vh;
}

#butt {
    width: 10vh;
    border-radius: 10px;
}

